/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #fffef8;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
nav li {
  padding: 0 10px;
  font-size: 16px;
  font-family: "Work Sans";
  font-weight: 400;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li img {
  width: 20px;
  height: 20px;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-top: 100px;
}

body.connected #portfolio .modif-proj {
  margin-bottom: 70px;
  margin-left: 100px;
}

.edit-project .fa-solid {
  font-weight: normal;
}

.div-container {
  min-width: 550px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 35px auto;
  margin-top: 60px;
}

.div-container > * {
  padding: 10px 20px;
  border: 1px solid #1d6154;
  border-radius: 25px;
  font-family: "Syne";
  color: #1d6154;
  cursor: pointer;
}

.div-container > *:hover {
  background-color: #1d6154;
  color: white;
}

.div-container div.active {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  max-height: 480px;
}

.gallery figure {
  max-height: 490px;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav {
  width: 1350px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

footer nav ul li {
  font-family: "Work Sans";
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  color: #000000;
  padding: 0;
  margin-top: 24px;
}

.login h3 {
  display: flex;
  color: #1d6154;
  font-size: 30px;
  font-weight: 700;
  font-family: "Syne";
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 30px;
  margin-left: -35px;
}

.log-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.log-form input {
  display: flex;
  width: 380px;
  height: 50px;
  justify-content: center;
  margin-bottom: 25px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.log-form label {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 8px;
}

.login-btn {
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  width: 180px;
  height: 36px;
  background-color: #1d6154;
  color: white;
  border-radius: 25px;
  justify-content: center;
  margin-left: 90px;
}

.form-content a {
  color: #3d3d3d;
  text-decoration: underline;
  margin-top: 25px;
  margin-left: 110px;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
}

.edit-mode {
  position: relative;
  left: 50%;
  width: 100vw; /* largeur de la fenêtre */
  margin-left: -50vw; /* décale pour contrer le centrage du body */
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.edit-span {
  color: #fff;
  background-color: black;
}

.modif-proj {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
}

.modif-proj h2 {
  margin: 0;
}

.edit-project {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.edit-icon .fa-solid {
  color: #fff;
  background-color: black;
  font-weight: 100;
  height: 16px;
  width: 16px;
}

#modaleProjets {
  width: 630px;
  height: 690px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#fermerModale {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 23px;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  height: 12px;
  font-weight: 700;
}

dialog h3 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 26px;
}

.modaleSeparation {
  width: 420px;
  color: #b3b3b3;
  margin-bottom: 50px;
  margin-top: 60px;
  border: none;
  border-top: 1px solid;
}

.btn-ajouter-photo {
  background-color: #1d6154;
  width: 237px;
  height: 36px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Syne";
  border-radius: 25px;
  display: flex;
  justify-content: center; /* centre horizontalement le texte */
  align-items: center; /* centre verticalement le texte */
  border: none;
  cursor: pointer;
  margin: 30px auto 0 auto;
}

#gallery-modale {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2px;
  row-gap: 20px;
  margin: 30px 0;
  padding: 0 90px;
}

#gallery-modale figure {
  position: relative;
}

#gallery-modale img {
  width: 78px;
  height: 105px;
  object-fit: cover;
}

#gallery-modale .delete-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: black;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#gallery-modale .delete-btn i {
  color: white;
  font-size: 10px;
  line-height: 1;
  background-color: black;
}

.formAjout {
  display: flex;
  flex-direction: column;
}

.upload-zone {
  background-color: #e8f1f6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  position: relative;
  text-align: center;
  width: 420px;
  height: 120px;
  margin-left: 83px;
  overflow: hidden;
}

.upload-zone i {
  font-size: 66px;
  color: #b9c5cc;
  background: none;
}

.upload-zone input[type="file"] {
  display: none;
}

.upload-zone .btn-upload {
  background-color: #b9c5cc;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 14px 20px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Work Sans";
  color: #306685;
  font-weight: 500;
  width: 173px;
}

.upload-zone p {
  font-size: 12px;
  color: #666;
  margin: 0;
  background: none;
}

#preview {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
  object-fit: contain;
}

.retour-btn {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 23px;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  height: 12px;
  font-weight: 700;
}

#titre {
  height: 50px;
  width: 420px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-left: 85px;
  margin-bottom: 25px;
}

.titreFormAdd {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.titreFormAdd label {
  margin-left: 85px;
  margin-bottom: 15px;
}

#category {
  height: 50px;
  width: 420px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-left: 85px;
  background: #fff;
}

.categoryFormAdd {
  display: flex;
  flex-direction: column;
}

.categoryFormAdd label {
  margin-left: 85px;
  margin-bottom: 15px;
}

.separationFormAdd {
  width: 420px;
  color: #b3b3b3;
  margin-bottom: 50px;
  margin-top: 60px;
  border: none;
  border-top: 1px solid;
}

.modaleAdd {
  background-color: #a7a7a7;
  width: 237px;
  height: 36px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Syne";
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 30px auto 0 auto;
}

#preview {
  position: absolute;
  top: 0;
  width: 129px;
  height: 193px;
  object-fit: cover;
  border-radius: 5px;
  display: none;
  z-index: 2;
}

.upload-zone.preview-active i,
.upload-zone.preview-active label,
.upload-zone.preview-active p {
  opacity: 0;
  pointer-events: none;
}

.upload-zone i,
.upload-zone label,
.upload-zone p {
  transition: opacity 0.3s ease;
}

#btnValider.active {
  background-color: #1d6154;
  color: white;
}
